:root {
    --accent-color: #2196F3;
    --main-title-color: #212121;
    --second-title-color: #757575;
    --third-title-color: #FFFFFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
} 

ul,
ol {
    margin: 0;
    padding-left: 0;
}

body {
background-color: var(--third-title-color);
color: var(--main-title-color);
letter-spacing: 0.03em;
font-size: 14px;
font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Верхняя линия */

.header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);

    margin: 25px 93px 25px 0px;
}

.logo-accent-black {
    color: #000000;
}

.header-list .header-item:not(:last-child) {
    margin-right: 50px;
}

.contacts .contact-item:not(:last-child) {
    margin-right: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav,
.header-list,
.contacts {
    display: flex;
}

.contact-link {
    display: block;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);

    /* padding-top: 32px;
    padding-bottom: 32px; */
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.header-link {
    display: block;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link:hover, 
.header-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

/* Шапка */

.header-content {
    background-color: #2F303A;
    outline: 3px solid green;
    text-align: center;

    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-title-color);

    max-width: 696px;
    margin: 0 auto;
    padding-bottom: 30px;
}


.header-bth {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--third-title-color); 
}

.header-bth:hover,
.header-bth:focus {
    background-color: #2195f3e1;
}

/* Особенности */

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
}

.about-list .about-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
   }

.about-item:nth-child(4n) {
    margin-right: 0;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.about-text {
    line-height: 1.71;
    color: var(--second-title-color);
}

/* Чем мы занимаемся */
.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.imag-work {
    display: flex;
    flex-wrap: wrap;
}

.imag-item {
    display: block;
}

.imag-work .imag-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    background-color: aqua;
}

.imag-item:nth-child(3n) {
    margin-right: 0;
}

.about-work, 
.about-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.teame {
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;
}

/* Наша команда */
.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-list .teame-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.teame-item:nth-child(4n) {
    margin-right: 0;
}  

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    padding-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-title-color);
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;

    border: 1px solid #EEEEEE;
    border-radius: 0px 0px 4px 4px;
}

/* Подвал */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* .logo footer */

.address-item:nth-child(-n+2) {
    margin-bottom: 9px;
}

.logo footer {
    display: block;
    margin-bottom: 400px;
}


.logo-accent-white {
    color: var(--third-title-color);
}

.address-link {
    font-style: normal;
    line-height: 1,71;
    color: var(--third-title-color);
}

.contact-link {
    font-style: normal;
    line-height: 1.71;
}

.address-link:hover,
.address-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

/* Портфолио */

.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-gallery {
    display: flex;
    justify-content: center;

    margin-bottom: 34px;
}

.button-link {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

.button-item {
    margin-right: 8px;
}

.button-link:hover,
.button-link:focus {
    background-color: var(--accent-color);
    color: var(--third-title-color);
}

.title-cards {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.62;
    letter-spacing: 0.06em;
}

.title-item {
    font-size: 16px;
    line-height: 1.62;
    color: var(--second-title-color);
}

.name-card {
    padding: 20px 24px 17px 20px;
    border: 1px solid #EEEEEE;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portfolio-cards {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-cards:nth-child(3n) {
    margin-right: 0;
}